<h1>Listing series_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Schedule</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series_types.each do |series_type| %>
  <tr>
    <td><%= series_type.name %></td>
    <td><%= series_type.schedule %></td>
    <td><%= link_to 'Show', series_type %></td>
    <td><%= link_to 'Edit', edit_series_type_path(series_type) %></td>
    <td><%= link_to 'Destroy', series_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Series type', new_series_type_path %>
