<% content_for :title do %>
  <%= "#{@issue.series_name} - Volume #{@issue.volume.number} - Issue #{@issue.number}" %>
<% end %>
<% content_for :logo do %>
  <%= @issue.cover.url(:large) %>
<% end %>
<% content_for :header do %>
  <%= @issue.title %>
<% end %>
<% content_for :subheader do %>Volume: <%= @issue.volume.number %><% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @issue.title %>
</p>

<p>
  <b>Number:</b>
  <%= @issue.number %>
</p>

<p>
  <b>Publication date:</b>
  <%= @issue.publication_date %>
</p>

<p>
  <b>Volume:</b>
  <%= @issue.volume.number %>
</p>

<p>
  <b>Description:</b>
  <%= @issue.description %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', :back %>
