<h1>Listing volumes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th>Series</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volumes.each do |volume| %>
  <tr>
    <td><%= volume.name %></td>
    <td><%= volume.number %></td>
    <td><%= volume.series %></td>
    <td><%= link_to 'Show', volume %></td>
    <td><%= link_to 'Edit', edit_volume_path(volume) %></td>
    <td><%= link_to 'Destroy', volume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volume', new_volume_path %>
