<% content_for :title do %> <%= @volume.name %> <% end %>
<% content_for :header do %> <%= @volume.name %> <% end %>
<% content_for :subheader do %>
<span class="title" style="font-weight: bold;">Publisher:</span><br>
<%# We should be able to remove the #try call by validating the presence of a Publisher on the Series model %>
<%#In addition to validating the presence of a Series on the Volume model%>
<span style="font-size: 0.75em; text-align: right;" class="info"><%= @volume.series.publisher.name || 'No Known Publisher' %></span> <br>
<span class="title" style="font-weight: bold;">Run Dates:</span><br>
<%#<span style="font-size: 0.75em; text-align: right;" class="info">April 1997 - February 2000</span>%>
<span style="font-size: 0.75em; text-align: right;" class="info"><%= @volume.publication_date_range(true) %></span>
<% end %>
<% content_for :sidebar_links do %>
  <div class="large-12 small-12 columns panel">
    <%= link_to 'New Issue', new_issue_path(@volume.id), class: 'button large-12' %>
    <%= link_to 'Edit', edit_volume_path(@volume), class: 'button large-12' %>
  </div>
<% end %>

            <div class="large-8 columns" style="overflow: auto; height: 500px">
              <div class="row">
<% @volume.issues.each do |issue| %>
                <div class="large-4 small-6 columns">
                  <a href="<%= issue_path(issue) %>">
                    <div class="panel">
                      <% if issue.cover %>
                      <%= image_tag issue.cover.url(:thumb), size: "150x150" %>
                      <% else %>
                      <img src="http://placehold.it/500x500&text=Thumbnail">
                      <% end %>
                      <h5><%= issue.number %> - <%= issue.title %></h5>
                      <h6 class="subheader"><%= issue.description %></h6>
                      <%= render "shared/list_additions" %>
                    </div>
                  </a>
                </div>
<% end %>
              </div>
            </div>

<br />

