<p id="notice"><%= notice %></p>

<% content_for :title do %> <%= @series.name %> <% end %>
<% content_for :header do %> <%= @series.name %> <% end %>
<% content_for :subheader do %>
    <h6>Description:</h6>
    <h6 class="subheader"><%= @series.description %></h6>
    <h6>Series Type:</h6>
    <h6 class="subheader"><%= @series.type %></h6>
    <h6>Publisher:</h6>
    <h6 class="subheader"><%= @series.pub_name %></h6>
<% end %>
<% content_for :sidebar_links do %>
  <div class="large-12 small-12 columns panel">
    <%= link_to 'Edit', edit_series_path(@series), class: 'button large-12'%> |
    <%= link_to 'New Issue', new_volume_path(@series.id), class: 'button large-12' %>
  </div>
<% end %>

            <div class="large-8 columns" style="overflow: auto; height: 500px">
              <div class="row">
<% @series.volumes.each do |volume| %>
                <div class="large-4 small-6 columns">
                  <a href="<%= volume_path(volume) %>">
                    <div class="panel">
                      <%= image_tag volume.logo.url(:thumb), size: "150x150" %>
                      <h5><%= volume.number %> - <%= volume.name %></h5>
                      <%# render "shared/list_additions" %>
                    </div>
                  </a>
                </div>
<% end %>
              </div>
            </div>

<br />

