<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title>ComicDex - <%= content_for?(:title) ? yield(:title) : "" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
        <div class="large-12 columns">
    
        <!-- Navigation -->
    
          <div class="row">
            <div class="large-12 columns">
    
              <nav class="top-bar">
                <ul class="title-area">
                  <!-- Title Area -->
                  <li class="name">
                    <h1>
                      <a href="/">Comicdex </a>
                    </h1>
                  </li>
                  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>
             
                <section class="top-bar-section">
                  <!-- Right Nav Section -->
                  <ul class="right">
                    <li><a href="#">Publishers</a></li>
                    <li><a href="#">Series</a></li>
                    <li><a href="#">Series Types</a></li>
                    <li><a href="#">Issues</a></li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                      <a href="#">User (uid-here)</a>
                      <ul class="dropdown">
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Own List</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Log Out &rarr;</a></li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </nav>
              <!-- End Top Bar -->
            </div>
          </div>
    
        <!-- End Navigation -->
    
          <div class="row">
    
      <!-- Side Bar -->
    
            <div class="large-4 small-12 columns">
    
              <img src="http://placehold.it/500x500&text=<%= content_for?(:logo) ? yield(:logo) : 'NoLogo' %>">
    
              <div class="hide-for-small panel">
                <h3><%= content_for?(:header) ? yield(:header) : 'Header' %> </h3>
                <h5 class="subheader">
                  <% if content_for?(:subheader) %>
                    <%= yield(:subheader) %>
                  <% else %>
                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
                  <% end %>
                </h5>
              </div>

              <div class="large-12 small-12 columns panel">
                <%= link_to 'New Issue', new_issue_path(@volume.id), class: 'button large-12' %>
                <%= link_to 'Edit', edit_volume_path(@volume), class: 'button large-12' %>
              </div>
    
            </div>
    
        <!-- End Side Bar -->
    
    
        <!-- Thumbnails -->
          <%= yield %>
        <!-- End Thumbnails -->

          </div>
    
    
        <!-- Footer -->
    
          <footer class="row">
            <div class="large-12 columns"><hr />
              <div class="row">
    
                <div class="large-6 columns">
                  <p>&copy; Kristofer M White &amp; Jesse R Adams, 2012-2013</p>
                </div>
    
              </div>
            </div>
          </footer>
    
        <!-- End Footer -->
    
        </div>
      </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
